// mediaquery breakpoint
//-----------------------------------------------------------
$screen-m  :  960px; // ヘッダー・サイドナビなど一部パーツのブレイクポイント
$screen-s  :  768px; // 基本ブレイクポイント
$screen-xs :  560px; // フッターなど一部パーツのブレイクポイント
$cnt-min   :  320px; // 最小ビューポート

// color
//-----------------------------------------------------------
$red: pink;
$blue: blue;